<ion-list>
    <button ion-item (click)="close('templates')">
        <ion-icon name="bulb"></ion-icon>
        Шаблоны
    </button>
    <button ion-item (click)="close('autopayment')">
        <ion-icon name="alarm"></ion-icon>
        Автоплатеж
    </button>
    <button ion-item (click)="close('settings')">
        <ion-icon name="settings"></ion-icon>
        Настройки
    </button>
    <button ion-item (click)="close('about')">
        <ion-icon name="alert"></ion-icon>
        О приложении
    </button>
</ion-list>
