popover-component {
  .list-md {
    margin-bottom: 0;
  }
  .item-md {
    padding-left: 15px;
    padding-right: 15px;
    &:hover,
    &.activated {
      color: $fistColorApp ;
    }
  }

  ion-icon {
    margin-right: 10px;
  }

}