transaction-action-component {
  position: fixed;
  bottom: 75px;
  right: 0;
  left: 0;
  text-align: right;
  .button {
    height: 5.5rem;
    width: 5.5rem;
    bottom: 0;
    right: 20px;
    margin: 0;
    border-radius: 100%;
  }
}