transaction-action-component {
  position: fixed;
  bottom: 75px;
  right: 0;
  left: 0;
  .button {
    height: 5.5rem;
    width: 5.5rem;
    bottom: -100px;
    left: 50%;
    margin: 0 0 0 -2.75rem;
    border-radius: 100%;
    transition: bottom .3s;
    &.show {
      bottom: 0;
      transition: bottom .3s;
    }
  }
}