<ion-header>
    <ion-navbar>

        <ion-title>{{ title }}</ion-title>

        <ion-buttons end>
            <settings-action-component></settings-action-component>
        </ion-buttons>

    </ion-navbar>

    <div class="container-datetime">
        <ion-datetime (ionChange)="changeDate($event)"
                end
                [(ngModel)]="dateISO"
                displayFormat="DD.MM.YYYY"
                pickerFormat="DD-MMMM-YYYY"
                monthNames="{{ monthNames }}"
                monthShortNames="{{ monthShortNames }}"
                dayNames="{{ dayNames }}"
                dayShortNames="{{ dayShortNames }}"
                cancelText="Закрыть"
                doneText="Готово">
        </ion-datetime>
    </div>

    <div class="container-balance">
        <div class="b-balance-group">
            <div class="balance-group__value">
                {{ balance }} &#8381;
            </div>
            <div class="balance-group__subtitle">Баланс</div>
        </div>
    </div>

</ion-header>

<ion-content>


    <div class="grid-row" *ngIf="totalCount > 0">
        <div class="grid-column-12 grid-padding grid-left" *ngFor="let transaction of transactions; let i = index">
            <transaction-item-component [transaction]="transaction"></transaction-item-component>
        </div>
    </div>

    <div *ngIf="totalCount == 0" class="util-empty-box fadeIn animated">Нет данных для отображения</div>

    <ion-infinite-scroll *ngIf="transactions.length > 0 && totalCount > transactions.length" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingText="Загружаю данные...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <transaction-action-component></transaction-action-component>

</ion-content>

