<ion-header>
    <ion-navbar>

        <ion-title>{{ title }}</ion-title>

        <ion-buttons end>
            <settings-action-component></settings-action-component>
        </ion-buttons>

    </ion-navbar>

    <div class="container-balance">
        <div class="b-balance-group">
            <div class="balance-group__value">
                {{ balance }} &#8381;
            </div>
            <div class="util-subtitle">текущий баланс</div>
        </div>
    </div>

    <div class="container-datetime">
        <ion-datetime (ionChange)="changeDate($event)"
                      [(ngModel)]="dateISO"container-budget-topcontainer-budget-top
                      displayFormat="DD.MM.YYYY"
                      pickerFormat="DD-MMMM-YYYY"
                      monthNames="{{ monthNames }}"
                      monthShortNames="{{ monthShortNames }}"
                      dayNames="{{ dayNames }}"
                      dayShortNames="{{ dayShortNames }}"
                      cancelText="Закрыть"
                      doneText="Готово" end>
            <ion-icon name="ios-arrow-down"></ion-icon>
        </ion-datetime>

    </div>

</ion-header>

<ion-content>

    <div class="container-activity-list" *ngIf="totalCount > 0">
        <ion-list>
            <div *ngFor="let transaction of transactions; let position = index;">
                <div *ngIf="transaction.showLabelDate" class="b-transaction-date"><ion-icon name="ios-calendar-outline"></ion-icon> {{ transaction.dateCreated }}</div>
                <ion-item-sliding>
                    <ion-item>
                        <transaction-item-component [transaction]="transaction"></transaction-item-component>
                    </ion-item>
                    <ion-item-options *ngIf="position < 5 && transaction.canDeleted" class="controls-item" side="right">
                        <button ion-button icon-only color="remove" (click)="deleteTransaction($event, transaction.id, position)">
                            <ion-icon name="ios-close"></ion-icon>
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </ion-list>

    </div>

    <empty-box-component *ngIf="totalCount == 0"></empty-box-component>

    <ion-infinite-scroll *ngIf="transactions.length > 0 && totalCount > transactions.length" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingText="Загружаю данные...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <transaction-action-component></transaction-action-component>

</ion-content>

