category-icon-component {
  display: block;
  width: 100%;
}

.container-icon-category {
  text-align: center;
}

.b-icon-category {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 8px 10px;
  display: flex;;
  align-items: center;
  justify-content: center;
  color: $secondColorApp;
  border-radius: 100%;
  transition: 0.3s;



}