category-icon-component {
  display: block;
  width: 100%;
}

.container-icon-category {
  text-align: center;
}

.b-icon-category {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 8px 10px;
  display: flex;;
  align-items: center;
  justify-content: center;
  color: $secondColorApp;
  border-radius: 100%;
  transition: 0.3s;


  // colors
  &.is-food {
    color: $colorFood;
  }
  &.is-dress {
    color: $colorDress;
  }
  &.is-car {
    color: $colorCar;
  }
  &.is-internet,
  &.is-phone {
    color: $colorInternet;
  }
  &.is-animals {
    color: $colorAnimals;
  }
  &.is-gifts {
    color: $colorGifts;
  }
  &.is-health {
    color: $colorHealth;
  }
  &.is-entertainment {
    color:$colorEntertainment;
  }
  &.is-bill {
    color: $colorBill;
  }
  &.is-travel {
    color: $colorTravel;
  }
  &.is-learning {
    color: $colorLearning;
  }
  &.is-repairs {
    color: $colorRepairs;
  }
  &.is-sport {
    color: $colorSport;
  }
  &.is-beauty {
    color: $colorBeauty;
  }
  &.is-transport {
    color: $colorTransport;
  }
  &.is-other {
    color: $colorOther;
  }
  &.is-job {
    color: $colorJob;
  }
  &.is-gifts-2 {
    color: $colorGifts2;
  }
}