
.main-tabs {
  .tabbar {
    transition: bottom 0.3s;
  }
}

.tabs-md {
  .tabbar {
    background: $firstColorContent;
    overflow: hidden;
  }
  .tab-button-icon {
    font-size: 2.8rem;
  }
  .tab-button {
    color: $secondColorApp;
    overflow: visible;
    &.activated,
    &:hover {
      color: $firstColorApp;
    }
    &:hover,
    &[aria-selected=true]{
      padding: 8px 0 10px 0;
      opacity: 1;
      .tab-button-text {
        margin: 3px 0 0 0;
      }
    }
  }
  .tab-button-text {
    margin: 3px 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}