
.container-balance {
  text-align: center;
}

.b-balance-group {
  padding: 10px 0;
  text-align: center;
  display: inline-block;
  .balance-group__value {
    font-size: 2.5rem;
  }
  .balance-group__subtitle {
    color: $secondColorApp;
  }
}