.b-category {
  width: auto;
  display: inline-block;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .category__name {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    white-space: nowrap;
  }
}