<div class="fadeIn animated">
    <div *ngIf="transaction.showLabelDate" class="b-transaction-date"><ion-icon name="ios-calendar-outline"></ion-icon> {{ dateCreated }}</div>
    <div class="b-transaction-item {{ transactionClass }}">
        <div class="transaction-item__data">
            <div class="transaction-item__icon">
                <div class="transaction-item__inBudget">
                    <ion-icon *ngIf="transaction.inBudget && transaction.type == 0" name="checkmark-circle"></ion-icon>
                </div>
                <category-icon-component [name]="transaction.slug"></category-icon-component>
            </div>
            <div>
                <div class="transaction-item__description">
                    {{ transaction.description }}
                </div>
                <div *ngIf="transaction.name" class="transaction-item__category">
                    {{ transaction.name }}
                </div>
            </div>
        </div>
        <div class="transaction-item__sum">
            {{ sum }} &#8381;
        </div>
    </div>
</div>