transaction-item-component {
}

.b-transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 12px 5px;
  position: relative;
  border-bottom: 1px solid $secondColorContent;
  .transaction-item__data {
    display: flex;
    align-items: center;
  }
  .transaction-item__icon {
    width: 50px;
    position: relative;
    margin-right: 3px;
  }
  .transaction-item__inBudget {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    font-size: 16px;
    color: $colorHigh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b-icon-category {
    width: 50px;
    height: 50px;
    font-size: 3rem;
  }
  .transaction-item__description {
    font-size: 1.5rem;
    line-height: 1.2em;
  }
  .transaction-item__category {
    margin-top: 7px;
    color: $secondColorApp;
    font-size: 1.2rem;
    background:$secondColorContent;
    padding: 5px 10px;
    border-radius: 30px;
    display: inline-block;
  }
  .transaction-item__sum {
    text-align: right;
    font-size: 1.7rem;
    white-space: nowrap;
  }

  &.is-plus {
    .transaction-item__sum {
      color: $colorHigh;
    }
  }
  &.is-minus {
    .transaction-item__sum {
      color: $colorLow;
    }
  }

}

.b-transaction-date {
  padding: 10px 16px;
  background: $secondColorContent;
  font-size: 1.5rem;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    margin-right: 8px;
    font-size: 2.2rem;
  }
}
