page-templates {
  .list-md {
    margin-bottom: 0;
  }
  .transaction-item__date {
      display: none;
  }
}

.controls-template {
  .button {
    width: 60px;
    ion-icon {
      font-size: 2.2em;
    }
  }
}