<ion-header>
    <ion-navbar>

        <ion-title>
            {{ title }}
        </ion-title>

        <ion-buttons end>
            <settings-action-component></settings-action-component>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="totalCount == 0">
        <div class="util-empty-box fadeIn animated">Нет созданных шаблонов</div>
    </div>

    <div *ngIf="totalCount > 0">


        <ion-list>
            <ion-item-sliding *ngFor="let template of templates; let i = index;">
                <ion-item>
                    <transaction-item-component [transaction]="template"></transaction-item-component>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="handlerClickCreateTransaction($event, template.templateId)">Создать</button>
                    <button ion-button color="secondary" (click)="handlerClickUpdate($event, template)">Изменить</button>
                    <button ion-button color="danger" (click)="handlerClickDelete($event, template.templateId, i)">Удалить</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>


    <br>

    <div class="util-align-center fadeIn animated" *ngIf="loadedTemplates">
        <button ion-button (click)="handlerClickCreate($event)">Создать новый</button>
    </div>


</ion-content>


