<div class="container-number-display">
    <div class="b-number-display">{{ value }} &#8381;</div>
</div>

<div class="container-numbers">
    <div class="b-number" *ngFor="let button of buttons" (click)="select(button.name)">
        <button type="button" ion-button>{{ button.name }}</button>
    </div>
    <div class="b-number" (click)="clear()">
        <button type="button" ion-button><ion-icon name="arrow-back"></ion-icon></button>
    </div>
    <div class="b-number" (click)="clearAll()">
        <button type="button" ion-button><ion-icon name="beaker"></ion-icon></button>
    </div>
</div>
