page-stats {
  .highcharts-credits {
    display: none !important;
  }
  .highcharts-container {
    margin: -10px auto 0;
  }
  .total-sum {
    display: flex;
    width: 100%;
    margin: -15px 0 25px 0;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.3rem;
    text-transform: uppercase;
    .total-sum-s {
      background: $secondColorContent;
      padding: 8px 15px;
      margin-left: 10px;
      font-size: 1.7rem;
      border-radius: 30px;
    }
  }
}

.container-chart {
  margin-top: -25px;
}

.container-controls-change-month {
  width: 100%;
  position: absolute;
  top: 185px;
  z-index: 2;
}

.b-control-change-month {
  position: absolute;
  top: 0;
  font-size: 30px;
  color: $secondColorApp;
  transition: 0.3s;
  &:active {
    color: $firstColorApp;
  }
  &.is-prev {
    left: 20px;
  }
  &.is-next {
    right: 20px;
  }
}

.b-current-date {
  margin: 28px 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}