<ion-header>
    <ion-navbar>

        <ion-title>
            {{ title }}
        </ion-title>

        <ion-buttons end>
            <button ion-button clear (click)="close()">Отмена</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <form (ngSubmit)="onReady()">

        <div padding>
            <ion-item>
                <ion-label stacked>Описание записи</ion-label>
                <ion-input type="text" placeholder="{{ placeholder }}" [(ngModel)]="description" name="description" (ngModelChange)="changeDescription()"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Учитывать при расчете бюджета</ion-label>
                <ion-checkbox [(ngModel)]="checkedInBudget" name="inBudget"></ion-checkbox>
            </ion-item>
        </div>

        <numbers-area-component [value]="outSum" (updatedSum)="updatedSum($event)"></numbers-area-component>

        <div style="margin-top: 25px;" class="util-align-center">
            <button  class="b-button-ready" ion-button [disabled]="!isDataFilled" ion-button type="submit">Готово</button>
        </div>

    </form>

</ion-content>
