<ion-header>
    <ion-navbar>

        <ion-title>
            {{ title }}
        </ion-title>

        <ion-buttons end>
            <button ion-button clear (click)="close()">Отмена</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-input type="text" placeholder="Описание" [(ngModel)]="description" (ngModelChange)="changeDescription($event)"></ion-input>
    </ion-item>

    <numbers-area-component (updatedSum)="updatedSum($event)"></numbers-area-component>

    <div class="util-align-center">
        <button class="b-button-ready" ion-button (click)="onReady()" [disabled]="!isDataFilled">Добавить</button>
    </div>

</ion-content>
