page-settings {
   ion-content {
     .fixed-content,
     .scroll-content {
       margin-bottom: 0 !important;
     }
   }
  .item-md {
    padding-left: 0;
  }
   .item-input .label-md {
     color: #FFF;
   }
   .text-input-md {
     text-align: right;
   }
 }