// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// App theme variables
$firstColorApp: #26ABE3;
$secondColorApp: #646F91;
$firstColorContent: #293350;
$secondColorContent: #262f49;



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #FFF;
$background-color:  $firstColorContent;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $firstColorApp,
  secondary:  #01A7F2,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";




// Colors category
$colorFood: #E84C3D;
$colorDress: #F59D1F;
$colorCar: #34495E;
$colorPhone: #297FB8;
$colorAnimals: #4CAF50;
$colorGifts: #03A9F4;
$colorHealth: #C5382F;
$colorEntertainment: #009688;
$colorBill: #3F51B5;
$colorTravel: #67B9CE;
$colorLearning: #8BC34A;
$colorRepairs: #795548;
$colorSport: #FF6F00;
$colorOther: #9E9E9E;
$colorJob: #4CAF50;
$colorGifts2: #03A9F4;



// *** gradation
$colorHigh: #2ED85B;
$colorMiddle: #F59D1F;
$colorLow: #e74b3c;


// ***** Rewrite values variable *****



// List
$list-md-border-color: $secondColorContent;
