ion-header {
  color: #FFF;
  &:after {
    background: none !important;
  }
}
.toolbar-background {
  background-color: $firstColorContent;
}

.toolbar-title-md {
  font-family: 'roboto_slabregular', sans-serif;
  color: $firstColorApp;
}

.bar-button-default-md,
.bar-button-clear-md {
  color: $firstColorApp;
}

.back-button.show-back-button {
  margin-right: 0;
}
