ion-header {
  color: #FFF;
}
.toolbar-background {
  background-color: $fistColorApp;
}

.toolbar-title-md {
  color: #FFF;
}

.bar-button-default-md,
.bar-button-clear-md {
  color: #FFF;
}

.back-button.show-back-button {
  margin-right: 0;
}
