.container-select {
  background: $secondColorContent;
  &.item-block {
    .item-inner {
      border: 0;
    }
  }
  .label-md {
    color: #FFF;
  }
}



.select-md {
  .select-icon {
    .select-icon-inner {
      color: #FFF;
    }
  }
}


