ion-item-sliding {
  .item-block {
    padding-left: 0;
    border: 0 !important;
    .item-inner {
      padding: 0 !important;
      border: 0 !important;
    }
  }
  .label-md {
    margin: 0;
  }
}