<ion-header>
    <ion-navbar>

        <ion-title>
            {{ title }}
        </ion-title>

        <ion-buttons end>
            <button ion-button clear (click)="close()">Отмена</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-input type="text" placeholder="Заголовок"></ion-input>
    </ion-item>

    <numbers-area-component></numbers-area-component>

    <div class="util-align-center">
        <button class="b-button-ready" ion-button>Готово</button>
    </div>

</ion-content>
