<ion-header>
    <ion-navbar>

        <ion-title>
            {{ title }}
        </ion-title>

        <ion-buttons end>
            <button ion-button clear (click)="close()">Отмена</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="Заголовок"></ion-input>
        </ion-item>
    </ion-list>


    <numbers-area-component></numbers-area-component>

    <button ion-button>Готово</button>

</ion-content>
