modal-transaction-component {
  .item-md {
    padding-left: 0;
  }
  .text-input-md {
    margin: 16px 15px;
  }
  .b-button-ready {
    height: 5rem;
    width: 100%;
    margin: 16px auto;
    max-width: 320px;
  }
}