@font-face {
  font-family: 'roboto_slabbold';
  src: url('../assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/robotoslab-bold-webfont.woff') format('woff'),
  url('../assets/fonts/robotoslab-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'roboto_slabregular';
  src: url('../assets/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/robotoslab-regular-webfont.woff') format('woff'),
  url('../assets/fonts/robotoslab-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}