.b-progressbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow: hidden;
  .progressbar__line {
    display: flex;
    width: 100%;
    height: 42px;
    background: $secondColorContent;
  }
    .progressbar__inner-line {
      background: $firstColorApp;
      transition: width 1s;
  }
  .progressbar__data {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 15px;
    align-items: center;
    position: absolute;
    top: 11px;
  }
  .progressbar__title {
    margin-right: 10px;
    font-size: 1.45rem;
  }
  .progressbar__sum {
    font-size: 1.7rem;
    color: $secondColorApp;
  }
  .progressbar__percent {
    font-size: 1.5rem;
  }


  &.is-food {
    .progressbar__inner-line {
      background: $colorFood;
    }
  }
  &.is-dress {
    .progressbar__inner-line {
      background: $colorDress;
    }
  }
  &.is-car {
    .progressbar__inner-line {
      background: $colorCar;
    }
  }
  &.is-phone {
    .progressbar__inner-line {
      background: $colorPhone;
    }
  }
  &.is-animals {
    .progressbar__inner-line {
      background: $colorAnimals;
    }
  }
  &.is-gifts {
    .progressbar__inner-line {
      background: $colorGifts;
    }
  }
  &.is-health {
    .progressbar__inner-line {
      background: $colorHealth;
    }
  }
  &.is-entertainment {
    .progressbar__inner-line {
      background:$colorEntertainment;
    }
  }
  &.is-bill {
    .progressbar__inner-line {
      background: $colorBill;
    }
  }
  &.is-travel {
    .progressbar__inner-line {
      background: $colorTravel;
    }
  }
  &.is-learning {
    .progressbar__inner-line {
      background: $colorLearning;
    }
  }
  &.is-repairs {
    .progressbar__inner-line {
      background: $colorRepairs;
    }
  }
  &.is-sport {
    .progressbar__inner-line {
      background: $colorSport;
    }
  }
  &.is-other {
    .progressbar__inner-line {
      background: $colorDress;
    }
  }
  &.is-job {
    .progressbar__inner-line {
      background: $colorJob;
    }
  }
  &.is-gifts-2 {
    .progressbar__inner-line {
      background: $colorGifts2;
    }
  }

}